[Desktop Entry]
Version=1.0
Name=RXVT Unicode
Comment=An unicode capable rxvt clone
Exec=urxvt
#Icon=utilities-terminal
Icon=/home/fernando/.dotfiles/imgs/icon-terminal1.png
Terminal=false
Type=Application
Categories=System;TerminalEmulator;Development;
